@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fbfaf8;
  --foreground: #101010;
  --accent: #e7b580;
  --border: #c5c4c2;
  --secondary: #a09674;

}

.dark {
  --background: #101010;
  --foreground: #fbfaf8;
  --accent: #ad875f ;
  --border: #c5c4c2;
  --secondary: #cbbe95;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
